* {
    margin: 0;
    padding: 0;
}

/* Header starts */
header {
    display: flex;
    flex-direction: column;
    color: #4D602B;
    background-color: #E5E4B8;
}

header .logo {
    display: flex;
    justify-content: center;
    margin: 2%;
}

header .logo img {
    width: 16%;
    height: 12.5%;
}

header hr {
    border: none;
    background: black;
    height: 1px;
}

header .appo {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

header .appo p {
    font-weight: bold;
    font-size: 100%;
    margin: 5px;
}

/* Header ends */

/* Banner Start */
.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner img {
    width: 100%;
    object-fit: contain;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.exclusive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E4B8;
    color: #7A7215;
    position: relative;
}

.exclusive h4 {
    width: 40%;
    text-align: center;
    padding: 18px;
    font-size: 25px;
    background-color: white;
    border: none;
    margin: 20px;
}

.exclusive p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    margin: 1% 5% 5% 5%;
    width: 75%;
}

.top-left {
    position: absolute;
    top: 0px;
    left: 0px;
}

.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Banner Ends */

/* Treatment/Service Section starts */
.service-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 40px auto;
    max-width: 1200px;
}

.service-item {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    color: #7A7215;
}

.service-item img {
    width: 125px;
    height: 128px;
    border-top-left-radius: 25px;
    box-shadow: 25px 25px 0px 0px #E5E4B8;
    margin-bottom: 15px;
}

.service-name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.service-item p {
    font-size: 15px;
    margin-bottom: 10px;
}

.service-benefits {
    list-style-type: none;
    padding-left: 15px;
    text-align: left;
    margin: 10px 0;
}

.service-time {
    font-weight: bold;
    margin: 10px 0;
}

.service-prices p {
    font-size: 15px;
    margin: 5px 0;
}

/* Treatment/Service Section ends */

/* Packages start */
.women {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #E5E4B8;
    color: #7A7215;
}

.package {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.package1 {
    width: 300px;
    margin: 50px 20px;
}

.package1 h1 {
    font-size: 25px;
    background-image: linear-gradient(to right, white, #E5E4B8);
    padding: 10px 20px;
}

.package1 .pack {
    padding: 10px 0 10px 50px;
    border-bottom: 1px solid white;
}

.package1 .pack .month {
    font-size: 18px;
    width: max-content;
    border-bottom: 2px solid #7A7215;
    margin: 10px 0;
}

.package1 .pack p {
    font-weight: bold;
    font-size: 15px;
}

.package1 .pack p span {
    font-size: 12px;
}

.package1 .pack h2 {
    font-size: 18px;
    margin-top: 10px;
}

/* Packages ends here */

/* ethos start */
.container {
    padding: 15px 9%;
    margin: 100px 0;
}

.container .heading {
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px 200px;
}

.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 50%;
    background-color: #E5E4B8;
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .box img {
    height: 150px;
}

.divider {
    display: flex;

    &:before,
    &:after {
        content: "";
        flex: 1;
    }
}

.lin {
    align-items: center;

    &:before,
    &:after {
        height: 1px;
        margin: 20px;
    }
}

.one-line {

    &:before,
    &:after {
        background: black;
    }
}

@media (max-width:768px) {
    .container {
        padding: 20px;
    }

    .service-item {
        width: calc(50% - 40px);
    }
}

@media (max-width:480px) {
    .service-item {
        width: 100%;
    }
}

/* ethos End */

/* footer starts */
.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #E5E4B8;
    padding: 50px 150px;
    color: #4D602B;
}

.flex-item-left {
    width: 50%;
    padding: 10px;
}

.flex-item-left p {
    font-size: 30px;
    padding: 20px;
}

.flex-item-left a {
    font-size: 35px;
    text-decoration: none;
    color: #4D602B;
    white-space: -moz-pre-wrap !important;
    word-wrap: break-word;
}

.flex-item-right {
    width: 50%;
}

.flex-item-right h3 {
    font-size: 30px;
    padding: 10px;
}

.add1 .title,
.add2 .title {
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}

.add1 .address,
.add2 .address {
    font-size: 18px;
}

@media (max-width:480px) {
    .service-item {
        flex-direction: column;
    }
}


/* footer ends */

@media screen and (max-width: 1200px) {
    .service-grid {
        max-width: 900px;
    }

    .service-item {
        width: calc(50% - 40px);
        /* Two items per row */
    }
}

@media screen and (max-width: 992px) {
    .service-grid {
        max-width: 700px;
    }

    .exclusive h4 {
        width: 60%;
    }

    .exclusive p {
        width: 90%;
    }

    .flex-item-left a {
        font-size: 20px;
    }

    .flex-item-left p {
        font-size: 25px;
    }

}

@media screen and (max-width: 768px) {
    header .logo img {
        width: 25%;
    }

    .service-grid {
        max-width: 500px;
    }

    .service-item {
        width: calc(100% - 40px);
        /* One item per row */
    }

    .container .box-container {
        gap: 30px 100px;
    }

    .flex-container {
        flex-direction: column;
        padding: 30px 50px;
    }

    .flex-item-left,
    .flex-item-right {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    header .appo {
        flex-direction: column;
    }

    .exclusive h4 {
        width: 80%;
        font-size: 20px;
    }

    .exclusive p {
        font-size: 18px;
    }

    .centered {
        font-size: 30px;
    }

    .service-item img {
        width: 100px;
        height: 100px;
    }

    .service-name {
        font-size: 18px;
    }

    .service-item p,
    .service-benefits,
    .service-time,
    .service-prices p {
        font-size: 14px;
    }

    .container .box-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .container .box-container .box img {
        height: 100px;
    }

    .flex-item-left a {
        font-size: 20px;
    }

}

@media screen and (max-width: 400px) {
    header .logo img {
        width: 40%;
    }

    .exclusive h4 {
        width: 90%;
        font-size: 18px;
    }

    .exclusive p {
        font-size: 16px;
    }

    .centered {
        font-size: 24px;
    }

    .container .box-container {
        grid-template-columns: 1fr;
    }

    .flex-item-left p {
        font-size: 20px;
    }

    .flex-item-left a {
        font-size: 15px;
    }

    .flex-item-right h3 {
        font-size: 24px;
    }

    .add1 .title,
    .add2 .title {
        font-size: 20px;
    }

    .add1 .address,
    .add2 .address {
        font-size: 16px;
    }
}