* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

html, body {
    height: 100%;
    background-color: #FCF5E5;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1; /* Allow container to grow and take up available space */
}


.container, .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container2 {
    flex-direction: row;
}

.logo {
    max-width: 180px; /* Reduced by 10% */
    max-height: 135px; /* Reduced by 10% */
    margin-top: 0; /* No margin above */
}

.text-1 {
    font-size: 18px; /* Reduced by 10% */
    font-weight: 500;
    margin: 10px 0; /* No margin */
}

.Women {
    max-width: 405px; /* Reduced by 10% */
    max-height: 360px; /* Reduced by 10% */
}

.text-2 {
    font-size: 27px; /* Reduced by 10% */
    font-weight: 400;
    margin: 10px 0;
}

.coming-soon {
    font-size: 36px; /* Reduced by 10% */
    font-weight: 700;
    margin: 10px 0;
}

.icon {
    margin: 10px; /* Reduced by 10% */
}

/* Media queries... */

/* Media query for desktop */
@media screen and (min-width: 1441px) {
    /* Styles for larger screens */
    .text-1 {
        font-size: 22px;
        margin: 20px;
    }

    .text-2 {
        font-size: 34px;
    }

    .coming-soon {
        font-size: 46px;
    }
}

/* Media query for 1281px to 1440px */
@media screen and (min-width: 1281px) and (max-width: 1440px) {
    /* Styles for 1440x2560 */
    .text-1 {
        font-size: 30px;
        margin: 20px;
    }

    .text-2 {
        font-size: 38px;
    }

    .coming-soon {
        font-size: 46px;
    }
}

/* Media query for 1081px to 1280px */
@media screen and (min-width: 1081px) and (max-width: 1280px) {
    /* Styles for 1280x800 */
    .text-1 {
        font-size: 28px;
        margin: 20px;
    }

    .text-2 {
        font-size: 36px;
    }

    .coming-soon {
        font-size: 44px;
    }
}

/* Media query for 1025px to 1080px */
@media screen and (min-width: 1025px) and (max-width: 1080px) {
    /* Styles for 1080x1920 */
    .text-1 {
        font-size: 26px;
        margin: 20px;
    }

    .text-2 {
        font-size: 34px;
    }

    .coming-soon {
        font-size: 42px;
    }
}

/* Media query for 811px to 1024px */
@media screen and (min-width: 811px) and (max-width: 1024px) {
    /* Styles for 1024x1366 */
    .text-1 {
        font-size: 24px;
        margin: 20px;
    }

    .text-2 {
        font-size: 32px;
    }

    .coming-soon {
        font-size: 40px;
    }
}

/* Media query for 721px to 810px */
@media screen and (min-width: 721px) and (max-width: 810px) {
    /* Styles for 810x1080 */
    .text-1 {
        font-size: 22px;
        margin: 20px;
    }

    .text-2 {
        font-size: 30px;
    }

    .coming-soon {
        font-size: 38px;
    }
}

/* Media query for 601px to 720px */
@media screen and (min-width: 601px) and (max-width: 720px) {
    /* Styles for 720x1280, 834x1194, 744x1133 */
    .text-1 {
        font-size: 20px;
        margin: 15px;
    }

    .text-2 {
        font-size: 28px;
    }

    .coming-soon {
        font-size: 36px;
    }
}

/* Media query for 481px to 600px */
@media screen and (min-width: 481px) and (max-width: 600px) {
    /* Styles for 601x962 */
    .text-1 {
        font-size: 18px;
        margin: 15px;
    }

    .text-2 {
        font-size: 26px;
    }

    .coming-soon {
        font-size: 34px;
    }
}

/* Media query for up to 480px */
@media screen and (max-width: 480px) {
    .logo {
        max-width: 70%;
        max-height: auto;
        margin-top: 10px;
    }

    .text-1 {
        font-size: 16px;
        margin: 10px;
    }

    .Women {
        max-width: 90%;
        max-height: auto;
        margin-top: 10px;
    }

    .text-2 {
        font-size: 24px;
    }

    .coming-soon {
        font-size: 32px;
    }
}

/* Media query for up to 320px (smart watches) */
@media screen and (max-width: 320px) {
    .logo {
        max-width: 60%;
        max-height: auto;
        margin-top: 20px; /* Increase margin to ensure visibility */
    }

    .text-1 {
        font-size: 14px;
        margin: 10px;
    }

    .Women {
        max-width: 90%;
        max-height: auto;
        margin-top: 10px;
    }

    .text-2 {
        font-size: 20px;
    }

    .coming-soon {
        font-size: 28px;
    }
}


/* Media query for tablet landscape */
@media screen and (min-width: 961px) and (max-width: 1024px) {
    /* Styles for 1024x768 */
    .text-1 {
        font-size: 24px;
        margin: 20px;
    }

    .text-2 {
        font-size: 32px;
    }

    .coming-soon {
        font-size: 40px;
    }
}

/* Media query for tablet portrait */
@media screen and (min-width: 768px) and (max-width: 960px) {
    /* Styles for 768x1024 */
    .text-1 {
        font-size: 22px;
        margin: 20px;
    }

    .text-2 {
        font-size: 30px;
    }

    .coming-soon {
        font-size: 38px;
    }
}

/* Media query for smart watches */
@media screen and (max-width: 320px) {
    /* Styles for 320x480 */
    .text-1 {
        font-size: 14px;
        margin: 10px;
    }

    .text-2 {
        font-size: 20px;
    }

    .coming-soon {
        font-size: 28px;
    }
}
